.entry-thumb {
  margin-bottom: $spacer;
}

.entry-meta {
  font-size: 13px;
  color: lighten($gray-light, 10%);
  a {
    color: $gray-light;
    @include hover-focus {
      color: $brand-primary;
    }
  }
}

.entry-category,
.entry-date,
.entry-comments,
.entry-tags {
  font-size: 13px;
  color: lighten($gray-light, 10%);
  &:before {
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: .25rem;
  }
}

.entry-category {
  &:before {
    content: '\f115';
  }
}

.entry-tags {
  &:before {
    content: '\f02b';
  }
}

.entry-views {

}

.entry-comments {
  border-bottom: none!important;
  &:before {
    content: '\f0e5';
  }
}

.entry-content {
  margin: 1.5rem 0;
}

.entry-meta {
  @extend .clearfix;
  & > * {
    display: inline-block;
  }
  & > * + * {
    margin-left: 1rem;
  }
}

.entry-title {
  a {
    color: $gray-dark;
    @include hover-focus {
      color: $brand-primary;
    }
  }
}

.content {
  .entry-header {
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    h1 {
      margin-top: 0;
    }
    .entry-meta {
      margin-bottom: 0;
    }
  }
  .entry-footer {
    margin: 2rem 0;
    padding-top: 2rem;
    border-top: 1px $gray-lighter solid;
    text-align: center;
    @extend .clearfix;
    .entry-meta {
      line-height: 2.5rem;
    }
  }
}

.related-posts {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px $gray-lighter solid;
}

.posts {
  article {
    @extend .clearfix;
  }
  .row + .row {
    article {
      padding-top: 3rem;
      margin-top: 3rem;
      border-top: 1px $gray-lighter solid;
    }
  }
}

.navigation.pagination {
  margin-top: 3rem;
  display: block;
  text-align: center;
  .nav-links > * {
    display: inline-block;
    margin: 0 .5rem;
    @extend .title-block;
  }
  .nav-links > .prev:before,
  .nav-links > .next:after {
    font-family: 'FontAwesome';
  }
  .nav-links > .prev:before {
    content: '\f104';
    margin-right: .5rem;
  }
  .nav-links > .next:after {
    content: '\f105';
    margin-left: .5rem;
  }
  .nav-links > span {
    color: #000;
  }
  .nav-links > a {
    border-bottom: 2px $gray-lighter solid;
    @include hover-focus {
      color: $brand-primary;
      border-bottom-color: $brand-primary;
    }
  }
}

.yarpp-related-none {
  display: none;
}
