// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  @include clearfix;
}

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// Bootstrap JavaScript plugin.

.navbar-toggle {
  font-size: 1.25rem;
  background: none;
  float: right;
  border: none;
  padding: .75rem $navbar-padding-horizontal;
  color: white;
  line-height: 1.2rem;
}

// Navbar Brand

.navbar-brand {
  padding: .75rem $navbar-padding-horizontal;
  line-height: 1.2rem;
  color: white;
  display: inline-block;
  @include media-breakpoint-up(md) {
    padding: 0;
    font-size: $font-size-h1;
    color: $gray-dark;
  }
}

// Mobile Header

.mobile-header {
  @extend .clearfix;
  background: white;
  .logo {
    padding: 2rem 0;
    p {
      font-size: $font-size-sm;
      color: $gray-light;
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    .logo {
      padding: 0;
      float: left;
    }
    background: $gray-dark;
    border-bottom: 1px lighten($gray-dark, 10%) solid;
    .navbar-brand {
      color: white;
      display: block;
    }
    .container {
      padding: 0;
    }
  }
}

// Custom override for
.navbar-toggleable {
  &-xs {
    @include media-breakpoint-up(sm) {
      display: block !important;
    }
  }
  &-sm {
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }
  &-md {
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }
}

.navbar-collapse {
  @include media-breakpoint-down(sm) {
    @include clearfix;
    clear: both;
  }
}

// Navigation
// Layout

.navbar-nav {

  // first level
  & > li.menu-item {
    @include media-breakpoint-up(md) {
      float: left;
      //second level
      &:hover > .sub-menu {
        left: 0;
        top: 100%;
      }
    }
  }

  // all levels with children
  li.menu-item-has-children {
    & > a:after {
      font-family: 'FontAwesome';
      content: '\f107'; // angle-down
      margin-left: .5rem;
      float: right;
      @include media-breakpoint-up(md) {
        content: '\f105'; // angle-right
      }
    }
  }

  // first level with children
  & > li.menu-item-has-children {
    & > a:after {
      @include media-breakpoint-up(md) {
        content: '\f107'; // angle-down
      }
    }
  }

  // all levels
  li.menu-item {
    & > a {
      display: block;
      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }
    .sub-menu {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;
      z-index: 99999;
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        left: 100%;
        & > li.menu-item > a {
          min-width: 12rem;
        }
      }
    }
    @include media-breakpoint-up(md) {
      position: relative;
      &:hover > .sub-menu {
        display: block;
      }
    }
    @include media-breakpoint-down(sm) {
      // this class is added by JS
      .sub-menu.mobile-open {
        display: block;
      }
    }
  }
}

// Text size and padding
// General

.navbar-nav {

  // all levels
  li.menu-item > a {
    @include media-breakpoint-down(sm) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  // first level
  & > li.menu-item > a {
    font-size: 15px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    @include media-breakpoint-up(md) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  // second level and further
  & > li.menu-item li.menu-item {
    & > a {
      font-size: $font-size-sm;
      padding-top: .75rem;
      padding-bottom: .75rem;
      @include media-breakpoint-up(md) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
}

// Colors

.navbar {

  background: $gray-dark;

  //all levels
  a {
    color: $gray-light;
  }
  a:hover,
  a:focus,
  .current-menu-item > a,
  .current-menu-ancestor > a {
    color: $gray-lighter;
  }

  // first level
  .navbar-nav > li.menu-item {
    & > a {
      color: $gray-light;
      @include media-breakpoint-up(md) {
        padding-left: 0;
        padding-right: 0;
      }
      @include hover-focus {
        color: white;
      }
    }
    @include media-breakpoint-up(md) {
      & + li.menu-item {
        margin-left: 2rem;
      }
    }
  }
  .navbar-nav > li.current-menu-item,
  .navbar-nav > li.current-menu-ancestor {
    & > a {
      color: $gray-lighter;
      @include hover-focus {
        color: white;
      }
    }
  }

  // submenus

  .sub-menu {
    @include media-breakpoint-up(md) {
      border: 1px $gray-lighter solid;
      background: white;
      li.menu-item {
        & + li.menu-item {
          border-top: 1px solid $gray-lighter;
        }
      }
      a {
        color: $gray-dark;
      }
      a:hover,
      a:focus,
      .current-menu-item > a,
      .current-menu-ancestor > a {
        color: #000000;
        background: $gray-lighter;
      }
      .sub-menu {
        margin-top: -1px!important;
      }
    }
  }
}
